<div class="row mt-4 mb-2">
    <div class="col">
        <mrx-breadcrumbs 
            type="link"
            [item]="{text: 'Назад', path: '/', isShowArrow: true}">
        </mrx-breadcrumbs>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <h3 class="connector-title">Редактирование события</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <mrx-content-wrapper type="colored">
            <div class="row">
                <div class="col">
                    <div class="connector-description">
                        <div class="connector-description__item mb-4">
                            <h5 class="mr-2">Событие</h5>
                            <span>03454</span>
                        </div>
                        <div class="connector-description__item mb-4">
                            <h5 class="mr-2">Создано</h5>
                            <span>Игорь Люлюкин</span>
                        </div>
                        <div class="connector-description__item mb-4">
                            <h5 class="mr-2">Изменено</h5>
                            <span>Любовь Скоробач</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 col-md-6 mb-3">
                    <mrx-label [required]="true">Наименование</mrx-label>
                    <mrx-input-text [(ngModel)]="formModel.name"></mrx-input-text>
                </div>

                <div class="col col-12 col-md-6 mb-3">
                    <div class="row mb-3">
                        <div class="col">
                            <mrx-label [required]="true">Время</mrx-label>
                            <mrx-input-datetime [(ngModel)]="formModel.date"></mrx-input-datetime>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mrx-checkbox [(ngModel)]="formModel.repeat">Повторять</mrx-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <mrx-label>Участники</mrx-label>
                    <mrx-input-select
                        [items]="selectItems" 
                        [multiple]="true"
                        [(ngModel)]="formModel.members"
                        (ngModelChange)="changeMembers($event)"
                    ></mrx-input-select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <h3 class="connector-subtitle">Редактирование события</h3>
                </div>
            </div>

            <div class="row mb-3" *ngFor="let item of formModel.questions; let i = index;">
                <div class="col">
                    <mrx-label>{{item.header}}</mrx-label>
                    <mrx-controls-wrapper>
                        <mrx-input-textarea [(ngModel)]="item.answer"></mrx-input-textarea>
                        <ng-template #controls>
                            <mrx-controls-item *ngIf="formModel.questions.length > 1 && i != 0" (click)="moveItem(i, 'up')">
                                <span class="mrx-icon icon-chevron-up"></span>
                            </mrx-controls-item>
                            <mrx-controls-item *ngIf="i != (formModel.questions.length - 1)" (click)="moveItem(i, 'down')">
                                <span class="mrx-icon icon-chevron-down"></span>
                            </mrx-controls-item>
                            <mrx-controls-item (click)="deleteItem(i)">
                                <span class="mrx-icon icon-delete"></span>
                            </mrx-controls-item>
                        </ng-template>
                    </mrx-controls-wrapper>                    
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <mrx-button type="secondary" (click)="addQuestion()" [disabled]="stopAddQuestion()">
                        <span class="icon-wrapper">
                            <svg class="stroke" width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12.006H4" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 4.00604V20.006" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        Вопрос
                    </mrx-button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col col-12 col-md-6">
                    <mrx-label>Ответственный за протокол</mrx-label>
                    <mrx-input-select
                        [items]="selectItems" 
                        [multiple]="true"
                        [(ngModel)]="formModel.responsible"
                    ></mrx-input-select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mrx-button 
                        type="secondary"
                        customClasses="mr-3">
                        Отменить
                    </mrx-button>

                    <mrx-button (click)="save()">
                        Сохранить
                    </mrx-button>
                </div>
            </div>
        </mrx-content-wrapper>
    </div>
</div>