<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col">
            <div class="mrx-link">
                <app-button (click)="routToItemPage()">
                    Создать
                    <ng-template #icon>
                        *
                    </ng-template>
                </app-button>
                <app-button 
                    (mouseEnter)="logger($event)"
                    [customClasses]="'ml-2'">
                    Редактировать
                </app-button>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col">
            <input
                id="showShape"
                type="checkbox"
                [checked]="showRedSquare"
                (change)="changeShape()">
            <label for="showShape">Изменить фигуру</label>
            <div class="shape" [ngClass]="shapeClass"></div>
        </div>
    </div>
</div>