<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col">
           <!--  <button (click)="routeToItemPage()">Создать</button> -->
            <app-button 
                customClasses="mr-2"
                (click)="routeToItemPage()"
            >Создать
            </app-button>
            <app-button 
                (click)="routeToItemPage()" 
                (mouseEnter)="logger($event)"
            >Редактировать
        </app-button>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col">
            <div class="mrx-checkbox__wrapper">
                <label class="mrx-checkbox mrx-checkbox-default">
                    <input type="checkbox" [checked]="toggleClass" (click)="changeBlock()"/>
                    <span class="mrx-checkbox__mark"></span>
                    <span class="mrx-checkbox__label">
                        Изменить
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col">
            <div class="mb-3" class="red-square" [ngClass]="toggleClass ? 'red-square' : 'green-circle'"></div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col col-12" *ngFor="let event of events">
            {{event['name']}}
        </div>
    </div>
</div>
            
        