<div class="page-wrapper minfin-theme PtSans minfin">
    <div class="page-container page-main">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="./assets/image/logo.png" alt="logo">
                    </div>
                </div>
            </div>
        </header>
        <main class="layout">
            <div class="container">
                <div class="row mt-4 mb-2">
                    <div class="col">
                        <button (click)="routeToItemPage()">Создать</button>
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col">
                        <div class="mrx-checkbox__wrapper">
                            <label class="mrx-checkbox mrx-checkbox-default">
                                <input type="checkbox" [checked]="toggleClass" (click)="changeBlock()"/>
                                <span class="mrx-checkbox__mark"></span>
                                <span class="mrx-checkbox__label">
                                    Изменить
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col">
                        <div class="mb-3" class="red-square" [ngClass]="{'red-square': toggleClass, 'green-circle': !toggleClass}"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>