<div class="page-wrapper minfin-theme PtSans minfin">
  <div class="page-container page-main">
      <header>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <img src="assets/image/logo.png" alt="logo">
                  </div>
              </div>
          </div>
      </header>
      <main class="layout">
          <div class="container">
              <div class="row mt-4 mb-2">
                  <div class="col">
                      <div class="mrx-link">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M12.6666 8.00065L3.33325 8.00065" stroke-width="0.999998"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                              <path d="M8.00015 12.667L3.3335 8.00034L8.00015 3.33368" stroke-width="0.999998"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                          <a href="#" class="mrx-link--text">Назад</a>
                      </div>
                  </div>
              </div>

              <div class="row mb-4">
                  <div class="col">
                      <h3 class="connector-title">Редактирование события</h3>
                  </div>
              </div>

              <div class="row">
                  <div class="col">
                      <div class="connector-content">
                          <div class="row">
                              <div class="col">
                                  <div class="connector-description">
                                      <div class="connector-description__item mb-4">
                                          <h5 class="mr-2">Событие</h5>
                                          <span>03454</span>
                                      </div>
                                      <div class="connector-description__item mb-4">
                                          <h5 class="mr-2">Создано</h5>
                                          <span>Игорь Люлюкин</span>
                                      </div>
                                      <div class="connector-description__item mb-4">
                                          <h5 class="mr-2">Изменено</h5>
                                          <span>Aphilome</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col col-12 col-md-6 mb-3">
                                  <label class="label-with-tooltip custom-label">
                                      Наименование
                                      <span class="required-active">*</span>
                                  </label>
                                  <div class="mrx-input-text">
                                      <div class="mrx-input-text__wrapper">
                                          <input type="text" />
                                      </div>
                                  </div>
                              </div>

                              <div class="col col-12 col-md-6 mb-3">
                                  <div class="row mb-3">
                                      <div class="col">
                                          <label class="label-with-tooltip custom-label">
                                              Время
                                              <span class="required-active">*</span>
                                          </label>
                                          <div class="mrx-input-datepicker">
                                              <div class="mrx-input-datepicker__wrapper">
                                                  <input type="text" />

                                                  <div class="inputbox-icons">
                                                      <span class="inputbox-icon">
                                                          <svg width="24" height="25" viewBox="0 0 24 25"
                                                              fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <rect x="3" y="4.00604" width="18" height="18"
                                                                  rx="2" stroke="#282828" stroke-width="1.5"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                              <path d="M16 2.00604V6.00604" stroke="#282828"
                                                                  stroke-width="1.5" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                              <path d="M8 2.00604V6.00604" stroke="#282828"
                                                                  stroke-width="1.5" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                              <path d="M3 10.006H21" stroke="#282828"
                                                                  stroke-width="1.5" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                          </svg>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col">
                                          <div #input class="mrx-checkbox__wrapper">
                                              <label class="mrx-checkbox mrx-checkbox-default">
                                                  <input type="checkbox" />
                                                  <span class="mrx-checkbox__mark"></span>
                                                  <span class="mrx-checkbox__label">
                                                      Повторять
                                                  </span>
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label class="label-with-tooltip custom-label">
                                      Наименование
                                  </label>
                                  <div class="mrx-input-text">
                                      <div class="mrx-input-text__wrapper">
                                          <input type="text" />
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <h3 class="connector-subtitle">Редактирование события</h3>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label class="label-with-tooltip custom-label">
                                      Вопрос 1
                                  </label>
                                  <div class="mrx-input-textarea">
                                      <div class="mrx-input-text__wrapper">
                                          <textarea></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label class="label-with-tooltip custom-label">
                                      Вопрос 2
                                  </label>
                                  <div class="mrx-input-textarea">
                                      <div class="mrx-input-text__wrapper">
                                          <textarea></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label class="label-with-tooltip custom-label">
                                      Вопрос 3
                                  </label>
                                  <div class="mrx-input-textarea">
                                      <div class="mrx-input-text__wrapper">
                                          <textarea></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <label class="label-with-tooltip custom-label">
                                      Вопрос 4
                                  </label>
                                  <div class="mrx-input-textarea">
                                      <div class="mrx-input-text__wrapper">
                                          <textarea></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col">
                                  <button class="mrx-btn mrx-btn-secondary mrx-btn-md icon-left">
                                      <span class="icon-wrapper">
                                          <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                              <path d="M20 12.006H4" stroke="#2a6ab8" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round" />
                                              <path d="M12 4.00604V20.006" stroke="#2a6ab8" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round" />
                                          </svg>
                                      </span>
                                      Вопрос
                                  </button>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col col-12 col-md-6">
                                  <label class="label-with-tooltip custom-label">
                                      Вопрос 4
                                  </label>
                                  <div class="mrx-input-text">
                                      <div class="mrx-input-text__wrapper">
                                          <input type="text" />
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <button class="mrx-btn mrx-btn-secondary mrx-btn-md">
                                      Отменить
                                  </button>

                                  <button class="mrx-btn mrx-btn-primary mrx-btn-md">
                                      Сохранить
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>
