<div class="page-wrapper minfin-theme PtSans minfin">
  <div class="page-container page-main">
      <header>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <img src="../assets/image/logo.png" alt="logo">
                  </div>
              </div>
          </div>
      </header>
      <main class="layout">
          <div class="container">
              <router-outlet></router-outlet>
          </div>
      </main>
  </div>
</div>