header {
    background: #1F2226;
    padding-top: 28px;
    padding-bottom: 28px;
}

.layout {
    min-height: calc(100vh - 88px);
    background: #E3E3E3;
}

.connector-title {
    text-align: left;
    font-weight: 700;
    font-size: 24px !important;
    line-height: 32px !important;
}

.connector-subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 20px !important;
}

.connector-content {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px 32px 40px;
}

.connector-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.connector-description__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.connector-description__item:not(:last-child) {
    margin-right: 40px;
}

.connector-description__item h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.connector-description__item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}