<div class="page-wrapper minfin-theme PtSans minfin">
    <div class="page-container page-main">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../assets/images/logo.png" alt="logo">
                    </div>
                </div>
            </div>
        </header>
        <main class="layout">
            <div class="container">
                <div class="row mt-4 mb-2">
                    <div class="col">
                        <div class="error">
                            <div class="error-image">
                                <img src="../../../assets/images/attention.png" alt="not found">
                            </div>
                            <div class="error-text">
                                <p class="error-text-code">404</p>
                                <p class="error-text-description">Страница не найдена</p>
                            </div>
                            <div class="mrx-link mt-3">
                                <a href="/">Перейти на главную страницу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
  </div>