button {
    height: 100px;
    width: 200px;
    margin: 18% 0 0 38%;

    border: 1px solid rgba(123, 184, 107, 0.6);
    border-radius: 5%;
    background: linear-gradient(180deg, rgba(27,134,95,1) 0%, rgba(56,182,109,1) 36%, rgba(90,255,201,0.8239889705882353) 100%);

    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: rgba(69, 82, 78, 0.6);
}